<div class="user-modal-backdrop">

  <div class="user-modal group">

    <ul class="user-attributes">
      <li id="picture-container">
        <img class="image-full" src="<%= user.escape('image_url') %>" id="full-user-image">
      </li>

      <li id="username"><%= user.escape("username") %>
        <% if (Cohabitate.currentUser.id === user.id) { %>
          <a class="edit" id="username">✎</a>
        <% } %>
      </li>

      <li class="level-and-leader">Level <%= user.escape('level') %>
        <% if ( user.get("is_leader") ) { %> |  Quest Leader<% } %>
      </li>


      <li id="email">Email: <%= user.escape("email") %>
      <% if (Cohabitate.currentUser.id === user.id) { %>
        <a class="edit" id="email">✎</a>
      <% } %>
    </li>
    </ul>

    <% if (Cohabitate.currentUser.id === user.id) { %>
      <form class="image-form">
        <label>Change Image</label>
        <input for="Change Image" type="file" name="user[image]" id="input-user-image">
        <img class="image-preview" src="<%= Cohabitate.currentUser.escape('image_url') %>" id="preview-user-image">

        <button>Update</button>
      </form>
    <% } %>



    <button class="user-modal-dismiss">To the Quest!</button>
  </div>

</div>
