<div id="quest-name"><%= quest.escape('title') %></div>

<div class="user-detail">
  <ul class="user-details group">
    <li id="xp">
      <span class="bar-label">XP:</span>
      <span class="bar"><%= user.escape('xp') %> / 50
        <div class="fill"></div>
      </span>
    </li>
    <li id="level">Level: <%= user.escape('level') %></li>
  </ul>

  <a class="toggle" id="roomies">Show Roomies</a>
</div>

<div class="members-detail hide-detail">
  <ul class="quest-members-list">
    <% quest.members().each(function (member) { %>
    <li class="quest-member">
      <a href="/#users/<%= member.id %>">
        <div class="thumb-container">
          <img class="image-full" src="<%= member.escape('image_url') %>">
        </div>
        <div class="username" ><%= member.escape('username') %></div>
      </a>
    </li>
    <% }) %>
  </ul>
  <a class="toggle" id="user">Show Myself</a>
</div>
