<form class="item-form group">

  <label>Label</label>
  <input for="Label" type="text" name="item[label]" value="<%= item.escape('label') %>">

  <label>Description</label>
  <input for="Description" type="text" name="item[description]" value="<%= item.escape('description') %>">

  <label>Points</label>
  <input for="Points" type="integer" name="item[points]" value="<%= item.escape('points') || parseInt(10) %>">

  <input type="hidden" name="item[leader_id]" value="<%= Cohabitate.currentUser.id %>">
  <input type="hidden" name="item[list_id]" value="<%= list.id %>">
  <input type="hidden" name="item[completed]" value="false">

  <% if (item.isNew() ) { %>
    <button>Create</button>
  <% } else { %>
    <button>Update</button>
  <% } %>
  <a class="cancel">Cancel</a>
</form>
