<ul class="item-details">
  <li class="attr label" data="<%= item.id %>">
    <%= item.escape('label') %>
  </li>
  <li class="attr points" data="<%= item.id %>">
    <%= item.escape('points') %> Points
  </li>
  <li class="complete <%= item.isCompleted() ? 'hidden' : '' %>" data="<%= item.id %>">
    ▢
  </li>
    <% if (item.isCompleted()) { %>
      <li class="complete check">✓</li>
    <% } %>
</ul>

<ul class="description hidden" data="<%= item.id %>">
  <% if (item.escape('duedate')) { %>
    <li>Due: <%= item.escape('duedate') %></li>
  <% } %>
  <li><%= item.escape('description') %></li>
  <li>
    <% if (Cohabitate.currentUser.escape('is_leader') === "true") { %>
      <a class="remove-task" href="#">Remove Task</a>
      <a class="edit-task" href="#">Edit Task</a>
    <% } %>
  </li>
</ul>
