<div class="session-links">
  <a class="logo" href="<%= root_url %>">COHABITATE</a>

  <% if current_user %>

    <% if current_user.quest %>

      <form action="<%= api_quest_url %>" method="POST">
        <%= auth_token_input %>
        <input type="hidden" name="_method" value="get">
        <button>Play!</button>
      </form>

    <% else %>

      <form action="<%= new_api_quest_url %>" method="POST">
        <%= auth_token_input %>
        <input type="hidden" name="_method" value="get">
        <button>Play!</button>
      </form>

  <% end %>


  <% else %>

    <a href="<%= new_user_url %>">Play CohabitateRPG</a>

  <% end %>
</div>
