<a class="logo" href="<%= root_url %>">COHABITATE</a>

<div class="session-links">
  <% if logged_in? %>
    <form action="<%= session_url %>" method="POST">
      <%= auth_token_input %>
      <input type="hidden" name="_method" value="delete">
      <a href="<%= user_url(current_user) %>"><%= current_user.email %></a>
      | <button>Sign Out</button>
    </form>
  <% else %>
    <a href="<%= new_session_url %>">Log In</a> | <a href="<%= new_user_url %>">Sign Up</a>
  <% end %>
  << REFACTOR THIS
  <a href="<%= quest_show_url(@user.quest) %>">Play CohabitateRPG</a>
</div>

<img src="app/assets/images/drawf.png">
