<div class="session-links">
  <a class="logo" href="<%= root_url %>">COHABITATE</a>

  <% if current_user && current_user.quest %>

  <a href="<%= api_quest_url(current_user.quest) %>">Play CohabitateRPG</a>
  <form action="<%= session_url %>" method="POST">
    <%= auth_token_input %>
    <input type="hidden" name="_method" value="delete">
    <a href="<%= user_url(current_user) %>"><%= current_user.email %></a>
    | <button>Sign Out</button>
  </form>


  <% else %>

    <% if logged_in? %>
      <form action="<%= session_url %>" method="POST">
        <%= auth_token_input %>
        <input type="hidden" name="_method" value="delete">
        <a href="<%= user_url(current_user) %>"><%= current_user.email %></a>
        | <button>Sign Out</button>
      </form>
    <% else %>
      <a href="<%= new_user_url %>">Play CohabitateRPG</a>
    <% end %>

  <% end %>
</div>
